<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Accueil{% endblock %} - Administration - Protection Civile 44</title>

    <link href="{{ asset('build/css/admin.css') }}" rel="stylesheet">
    <script src="https://use.fontawesome.com/c6b1ece3d7.js"></script>

    {% block stylesheets %}{% endblock %}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('admin.home') }}" class="site_title"><i class="fa fa-heartbeat"></i> <span>Formation</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ path('admin.course.index') }}"><i class="fa fa-university"></i> Formation</a>
                            </li>
                            <li>
                                <a href="{{ path('admin.trainee.index') }}"><i class="fa fa-graduation-cap"></i> Stagiaire</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Administration</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ path('admin.user.index') }}"><i class="fa fa-users"></i> Utilisateurs</a>
                            </li>
                            <li>
                                <a href="{{ path('admin.office.index') }}"><i class="fa fa-building"></i> Antennes</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{ app.user.fullName }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{{ path('admin.logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            {% block body %}{% endblock %}
        </div>
        <!-- /page content -->

    </div>
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset('build/js/admin.js') }}"></script>
</body>
</html>
