{% extends 'admin/common/page.html.twig' %}

{% block title %}Formations{% endblock %}

{% block topAction %}
    <a class="btn btn-success" href="{{ path('admin.course.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 20%">Début</th>
                            <th>Type</th>
                            <th>Organisateur</th>
                            <th>Lieu</th>
                            <th style="width: 20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>
                                    {{ course.start|date('d/m/Y à H:i') }}
                                </td>
                                <td>
                                    {{ ('course.types.' ~ course.type)|trans }}
                                </td>
                                <td>
                                    {{ course.office.name }}
                                </td>
                                <td>
                                    {{ course.addressName }}
                                </td>
                                <td>
                                    <a href="{{ path('admin.course.edit', {'course': course.id}) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Éditer </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
