{% extends 'admin/base.html.twig' %}

{% set page = "admin.formation" %}
{% set pageHeader = "Gestion des Formations" %}
{% set pageHeaderPlus = "Edition" %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ form_errors(form) }}
            <div class="box">
                <form method="post" action="{{ path('admin.formation.edit', {'id': formation.id}) }}" class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(form.type, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8}) }}
                                {{ form_row(form.date, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8}) }}
                                {{ form_row(form.lieu, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8}) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.antenne, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8}) }}
                                {{ form_row(form.formateur, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8}) }}
                            </div>
                        </div>
                        {{ form_row(form.description, { 'style': 'horizontal', 'label_col': 2, 'widget_col': 10}) }}
                    </div>
                    <div class="box-footer">
                        {{ form_rest(form) }}
                        <input type="submit" class="btn btn-primary pull-right" value="Editer" />
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
